{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Dashboard{% endblock %}

{% block body %}
{{parent()}}

{{ dump(posts) }}
    <div class="container">
        <table class="table table-striped table-bordered">

            <th>ID</th>
            <th>Título</th>
            <th>Imágen</th>
            <th>Contenido</th>
            <th>Fecha de Publicación</th>
            <tr>
                {# table body #}
                {% for article in posts %}
                    <tr>
                        <td>{{ article.id }}</td>
                        <td>{{ article.titulo }}</td>
                        <td><img class="rounded" src="{{ asset('uploads/photos/'~article.foto) }}" width="150px"></td>
                        <td>{{ article.contenido }}</td>
                        <td>{{ article.fechapublicacion | date('Y-m-d') }}</td>
                       
                    </tr>
                {% endfor %}
            </tr>
        </table>
    </div>
{% endblock %}