{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Dashboard{% endblock %}

{% block body %}
{{parent()}}
{% set LikesDeEstePost = post.likes | split(',') %} {#Nueva variable, y el split significa que cada vez que encuentre una coma, vaya alamacenando ese número en un nuevo array#}
{{dump(post)}}
    <div class="container">
        <div class="row">
            <!-- Columna que describe el post -->
            <div class="col-lg-8">
                <!-- Título -->
                <h2 class="mt-4">{{ post.titulo }}</h2>
                <hr>
                <!-- Date/Time -->
                <p>Posted on {{ post.fechapublicacion | date('F jS \\a\\t g:ia') }}</p>
                <hr>
                <img class="rounded" src="{{ asset('uploads/photos/'~post.foto) }}"></td>               
                <hr>
                <!-- Contenido del post -->
                <p class="lead">
                    {{ post.contenido }}
                </p>
                <hr>

                <!-- Formulario para Comentario -->                
                <div class="card my-4">
                    <h5 class="card-header">{{ form(comentarios) }}</h5>
                    <!--<div class="card-body">
                        <form>
                            <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary mt-3">Envíar</button>
                        </form>
                    </div>-->
                </div>

                <!-- Comentarios -->
                {% for comentarios in comentarios_post %}
                    <div class="media mb-4">
                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">{{ comentarios.nombre }}</h5>
                            {{ comentarios.comentario }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        

            <!-- Columna barra lateral -->
            <div class="col-md-4">
                <div class="card my-4">
                    <h5 class="card-header">LO que sea</h5>
                <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                    <a href="#">Simba</a>
                                    </li>
                                    <li>
                                    <a href="#">Nyati</a>
                                    </li>
                                    <li>
                                    <a href="#">Faru</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                </div> 
                </div>
            </div>
        </div>
    </div>
  
    {# table body #}
    <div class="" onclick="MeGusta({{ post.id }})">
       <strong>
        {% if app.user.id in LikesDeEstePost %}{#Si el usuario actualmente logueado está en los likes de este post? #}
            # Te gustó esto
            {% else %}
            # Dale Like
        {% endif %}
       </strong> 
    </div>   
            
                <td>{{ post.id }}</td>
                <td>{{ post.titulo }}</td>
                <td><img class="rounded" src="{{ asset('uploads/photos/'~post.foto) }}" width="150px"></td>
                <td>{{ post.fechapublicacion | date('Y-m-d') }}</td>
                <div>{{ post.contenido }}</div>
            


{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('jquery/ajax-call.js') }}"></script>
{% endblock %}